@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
//@import "./node_modules/bootstrap/scss/images";
//@import "./node_modules/bootstrap/scss/code";
@import "./node_modules/bootstrap/scss/grid";
//@import "./node_modules/bootstrap/scss/tables";
// @import "./node_modules/bootstrap/scss/forms";
// @import "./node_modules/bootstrap/scss/buttons";
//@import "./node_modules/bootstrap/scss/transitions";
//@import "./node_modules/bootstrap/scss/dropdown";
//@import "./node_modules/bootstrap/scss/button-group";
//@import "./node_modules/bootstrap/scss/input-group";
//@import "./node_modules/bootstrap/scss/custom-forms";
//@import "./node_modules/bootstrap/scss/navbar";
// @import "./node_modules/bootstrap/scss/nav";
//@import "./node_modules/bootstrap/scss/card";
//@import "./node_modules/bootstrap/scss/breadcrumb";
//@import "./node_modules/bootstrap/scss/pagination";
// @import "./node_modules/bootstrap/scss/badge";
//@import "./node_modules/bootstrap/scss/jumbotron";
//@import "./node_modules/bootstrap/scss/alert";
//@import "./node_modules/bootstrap/scss/progress";
@import "./node_modules/bootstrap/scss/media";
//@import "./node_modules/bootstrap/scss/list-group";
//@import "./node_modules/bootstrap/scss/close";
//@import "./node_modules/bootstrap/scss/modal";
//@import "./node_modules/bootstrap/scss/tooltip";
//@import "./node_modules/bootstrap/scss/popover";
//@import "./node_modules/bootstrap/scss/carousel";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/print";
// @import "./node_modules/bootstrap/scss/spinners";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700&subset=latin-ext");

body {
  color: #5f5145;
  font-family: "Raleway", sans-serif;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 200px;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    margin-bottom: 2em;
  }

  img {
    max-height: 40vh;
    margin: auto;
    @include media-breakpoint-up(lg) {
      max-height: 100vh;
      margin-bottom: 0em;
    }
  }
}
.about-me {
  padding-right: 2em;
  h1 {
    letter-spacing: 0.02em;
  }
  p {
    line-height: 1.75em;
    font-size: 1.1em;
    letter-spacing: 0.02em;
  }
}
.contacts {
  padding: 0;
  li {
    list-style-type: none;
    line-height: 1.75em;
    font-size: 1.1em;
    letter-spacing: 0.02em;
  }
  a {
    color: #5f5145;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
